body {
  margin: 0px;
}

/* Tekst som bytter farge */
.changing-color {
  /*
    For å faktisk bruke en animasjon så må vi legge de
    til et spesifikt element
  */
  animation-name: change-color; /* Animasjonen vi ønsker å bruke*/
  animation-duration: 1s; /* Hvor lang tid den skal bruke */
  animation-iteration-count: infinite; /* Hvor mange ganger den skal repeteres */
  animation-direction: alternate; /* Kjør animasjone fremlengs, så baklengs, repeter */

  color: coral;
}

/*
  Vi må definere "nøkkel bildene" til animasjonen vår
  ie. hvilken CSS regler som skal gjelde i de forskjellige
  stegene
*/
@keyframes change-color {
  /* Start settet med regler */
  from {
    color: blueviolet;
  }

  /* Slutt setttet med regler */
  to {
    color: coral;
  }
}

.changing-color:hover {
  animation-play-state: paused;
}

/* Bouncing ball */
.container {
  height: 500px;
  background-color: grey;
}

.ball {
  background-color: cornflowerblue;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin-left: auto;
  margin-right: auto;

  animation-name: bouncing-ball;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}

@keyframes bouncing-ball {
  0% {
    transform: translateY(50px);
  }

  95% {
    transform: translateY(400px);
    height: 50px;
    width: 50px;
  }

  100% {
    transform: translateY(410px);
    height: 40px;
    width: 60px;
  }
}

/* Styling for Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(154, 189, 255);
  padding: 0.1rem 1rem;
}

.navbar > nav > ul {
  list-style-type: none;
  padding: 0px;
  display: flex;
  gap: 1rem;
}

/* Slide in */
.slidin-from-left {
  animation-name: slidin-from-left;
  animation-duration: 1s;
}

@keyframes slidin-from-left {
  from {
    transform: translateX(-100vw);
  }
  to {
    transform: translateX(0px);
  }
}

.slidin-from-right {
  animation-name: slidin-from-right;
  animation-duration: 1s;
}

@keyframes slidin-from-right {
  from {
    transform: translateX(100vw);
  }
  to {
    transform: translateX(0px);
  }
}

/* Overganger */
.scale {
  transition-property: all;
  transition-duration: 200ms;
}

.scale:hover {
  scale: 1.1;
}

.scale:active {
  scale: 0.9;
}
